{% extends 'base.html' %}
{% load static %}

{% block title %}
    Profile
{% endblock %}

{% block styling %}
    
{% endblock %}


{% block content %}
    <div class="container">
        <!-- <img src="https://media.giphy.com/media/1AHZAo3uHTqr82FOqj/giphy.gif" id="loading"> -->
        <div class="card">
            <img title="It's my face! I am-- DISGUSTED TO MEET YO-- pleased to meet you ^_^" id="myImg" src="https://files.catbox.moe/73bqc7.png" alt="" height="160" width="120">
            <h1>Athallah Annafis</h1>
            <button class="b-button" id="mode-change">CLICK ME!</button>            
        </div>
        
        <div class="section2">
            <div class="acc">
                <button class="accordion">Daftar Aktivitas</button>
                <div class="panel">
                    <ul>
                        <li>Taekwondo</li>
                        <li>Design Poster</li>
                        <li>Code</li>
                        <li>Gaming</li>
                    </ul>
                </div>
            </div>
            <div class="acc">
                <button class="accordion">Organisasi dan Kepanitiaan</button>
                <div class="panel">
                    <ul>
                        <li>BEM Fasilkom UI</li>
                        <li>Dokumentasi SIWAK-NG</li>
                        <li>Dokumentasi PMB 2018</li>
                        <li>Divisi Kreatif WISGEN</li>
                    </ul>
                </div>
            </div>

            <div class="acc">
                <button class="accordion">Prestasi</button>
                <div class="panel">
                    <ul>
                        <li>Lulus PEPEW</li>
                        <li>Menang OLIM</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


