{% extends 'base.html' %}
{% load static %}

{% block title %}
    Regist Page
{% endblock %}

{% block styling %}
{% endblock %}

{% block content %}
    <div class="regist-container">
        <div class="regist-form">
            <h1>Subscribe my website!</h1>
            <form  class="the-form" method="POST">
                {% csrf_token %}
                <label for="">Name:</label>
                {{form.name}}
                <div id="name-info"></div>

                <label for="">Email:</label>
                {{form.email}}
                <div id="email-error"></div>

                <label for="">Password:</label>
                {{form.password}}
                <div id="pass-error"></div>
                
                <button class="submit-button" type="submit">
                    Subscribe!
                </button>

                <!-- <input type="submit" class="submit-button"> -->

            </form>
        </div>

        <br><br>
        <a class="b-button" href="/registration/subscriber_list/">View Subscribers</a>
    </div>
{% endblock %}