{% extends 'base.html' %}
{% load static %}

{% block title %}
    Subscriber list
{% endblock %}

{% block styling %}
<script src="{% static 'js/sublist.js' %}"></script>
{% endblock %}

{% block content %}
<br><br><br>
<!-- <button class="test-button">test</button> -->
    <a class="b-button" href="/registration/">Back</a>
    <div class="sub-list">
        <h1>List of subscribers</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Unsub button</th>
                </tr>
            </thead>
            <tbody class="subList">
            </tbody>
        </table>
    </div>
{% endblock %}