* {
    margin: 0 auto;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: rgb(225,225,225);
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav .menu {
    text-decoration: none;
    border-style: solid;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.darkNav {
    text-decoration: none;
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-color: white;
    color: white;
}