
/*************** container  ***************/
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-style: solid; */
    /* background: lightblue; */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px;
    /* background-color: rgb(245, 234, 135);
    border-style: solid;
    border-radius: 10px; */
    /* margin-left: 30%;
    margin-right: 30%; */
    text-align: center;
    line-height: 26pt;
}

@media only screen and (max-width:400px) {
    .card {
        display: flex;
        flex-direction: column;
        align-items: center; 
        padding: 10px;
        /* background-color: rgb(245, 234, 135);
        border-style: solid;
        border-radius: 10px; */
        margin-left: 10%;
        margin-right: 10%;
        /* margin-top: 5%; */
        text-align: center;
    }
}

.container #myImg {
    border-radius: 50%;
}

.b-button {
    text-decoration: none;
    background-color: rgb(66,83,129);
    color: white;
    border-style: solid;
    border-color: rgb(66,83,129);
    padding: 10px 10px;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.2s;
}

/* rgb(66,83,129) */
.b-button:hover  {
    text-decoration: none;
    background-color: #FFFFFF;
    color: rgb(66,83,129);
    border-style: solid;
    border-color: rgb(66,83,129);
    padding: 10px 10px;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



/********************* section2 *********************/
.section2 {
    /* margin: 0 auto; */
    /* background: lightcoral; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

@media only screen and (max-width:400px) {
    .section2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* accordion division */

.accordion {
    background-color: rgb(140,146,162);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 500px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-weight: bold;
}

.dark-accordion {
    background-color: rgb(89,103,132);
    color: white;
}

.accordion:hover {
    background-color: #ccc;
    color: black;
}
    
.dark-accordion:hover {
    background-color: rgb(63, 60, 60);
    color: white;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    /*  acc_padding = 18
        acc_width = 500
        panel_padding = 18
        panel_width = acc_width - (acc_padding + panel_padding)
                    = 500 - (16)
                    = 464 */
    width: 464px; 
}

.dark-panel {
    background-color: rgb(26, 25, 25);
    color: white;
}

.bg-change {
    background-color: rgb(47,47,49);

}

.white-font {
    color: white;
}

#loading {
    width: 100px;
    height: 100px;
}

@media only screen and (max-width:400px) {
    .accordion {
        background-color: rgb(140,146,162);
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 200px;
        border: none;
        text-align: center;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        font-weight: bold;
    }
    
    .dark-accordion {
        background-color: rgb(89,103,132);
        color: white;
    }
    
    .accordion:hover {
        background-color: #ccc;
        color: black;
    }
        
    .dark-accordion:hover {
        background-color: rgb(63, 60, 60);
        color: white;
    }
    
    .panel {
        padding: 0 18px;
        display: none;
        background-color: white;
        /*  acc_padding = 18
            acc_width = 200
            panel_padding = 18
            panel_width = acc_width - (acc_padding + panel_padding)
                        = 200 - (16)
                        = 464 */
        width: 163px; 
    }
    
    .dark-panel {
        background-color: rgb(26, 25, 25);
        color: white;
    }
    
}