.regist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.regist-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.the-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=text], select, textArea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit-button {
    border-style: solid;
    border-radius: 10px;
    color: white;
    background-color: green;
    border-color: green;
    font-weight: bolder
}

.submit-button:hover {
    background: white;
    color: green;
}

/* subs list section */

