{% extends 'base.html' %}
{% load static %}

{% block title %}
    Books
{% endblock %}

{% block styling %}
    <style>
        
    </style>
{% endblock %}

{% block content %}
    <div class="container">

        <div class="user-detail">
            {% if user.is_authenticated %}
                <h1>Hello, {{user.first_name}}</h1>
                <p>Have fun selecting these books</p>
                <a id="logout-button" href="/books/logout/">Logout</a>

                <div style="text-align:center">
                    <h1>Favourited books</h1>
                    <h2 class="favTotal">
                        {% if bookCount %}
                        {{bookCount}}
                        {% else %}
                        0
                        {% endif %}
                    </h2>
                    <input type="text" placeholder="Search books" id="searchField">
                    <button id="searchButton" style="margin-bot:10px">Search</button>
                    <br>
                    <table>
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Image</th>
                                <th>Title</th>
                                <th>Authors</th>
                                <th>Publisher</th>
                                <th>Published Date</th>
                                <th>Add to Favourite</th>
                            </tr>
                        </thead>
                        <tbody class="booklist">
                        </tbody>
                    </table>
                </div>
            {% else %}
                <h1>Login to search books</h1>
                <a class="menu" href=" {% url 'social:begin' 'google-oauth2' %} ">Login with Google</a>
            {% endif %}
        </div>

        
    </div>

    <script type="text/javascript" src="{% static 'js/books.js' %}"></script>
{% endblock %}