{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- base styling -->
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/base.css' %}"/>
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/prof.js' %}" ></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- page styling -->
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/books.css' %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/prof2.css' %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/regist.css' %}">
    <script type="text/javascript" src="{% static 'js/regist.js' %}"></script>
    {% block styling %}
    {% endblock %}
    
</head>
<body>
    <nav>
        <a class="menu" href="/">Home</a>
        <a class="menu" href="/books/">Books</a>
        <a class="menu" href="/registration/">Subscribe me!</a>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>